.body-container {
	display: grid;
	grid-area: main;
}

.slide-container {
	display: grid;
	/* using view width (vw) in gtc() breaks the website */
	grid-template-columns: repeat(6, 100%);
	overflow-y: scroll;
	scroll-snap-type: x mandatory;
}

.swipe-button {
	height: 2.75em;
	width: 1.5em;

	background-color: var(--ac-);
/*	color: var(--ac-blue);*/
}

.left-btn {
	position: absolute;
	left: 0;
}

.right-btn {
	position: absolute;
	right: 0;
}


.slide-card-container {
	grid-template-rows: 3em 10em;
	scroll-snap-align: center;
	scroll-snap-stop: always;
	text-align: center;
	font-family: IMFell-reg;
}

.slide-card-header {
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 3em;
	font-family: inherit;
	font-size: 2.5em;
	background-color: var(--ac-brown);
	color: var(--ac-blue);

	border-top: .15rem solid var(--ac-orange);
	border-bottom: .15rem solid var(--ac-orange);
}

.slide-card-body {
	grid-row: 2;
	margin: .05em .15em .05em .15em;
	height: 25em;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: inherit;
	font-size: 1.5em;
	color: var(--ac-brown);
}

.box-shadow:hover {
	box-shadow: 0 0 0.1em 0.18em var(--ac-green-opaque);
}