.main-container {
	grid-area: main;
	display: flex;
	height: 100%;
	margin-top: 3em;
}

.service-area-component {
	display: flex;
	flex-direction: column;

	height: 40em;
	margin: 0 .25em;
}

.service-area-header, .service-area-paragraph {
	font-family: RobotoFlex;
	justify-content: center;
}

.service-area-header {
	font-size: 2em;
}

.service-area-paragraph {
	font-size: 2em;
}