.main-container {
	display: flex;
	margin-top: 18em;
	border-top: 1px solid black;
}

.service-area-component {
	display: flex;
	flex-direction: column;

	height: 40em;
}

.service-area-header, .service-area-paragraph {
	font-family: RobotoFlex;
	justify-content: center;
}

.service-area-header {
	font-size: 3em;

}

.service-area-paragraph {
	font-size: 2em;

}