.header-logo-container {
	display: grid;
	grid-row: logo;
	grid-column: 1;
}

.temp-header-logo {
	width: 85%;
	margin: 0.5em auto;
}

.arbor-text {
	height: 8em;
}

.craft-text {
	margin-top: -3rem;
	height: 7em;
}

.logo-text {
	display: grid;
	place-self: center;
}