.contact-info-container {	
	grid-column: 1 / span 2;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.phone-number-container {
	grid-row: contact;
	grid-column: 1 / span 2;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4em;
	width: 100%;
	background-color: var(--ac-green-opaque);
}

.phone-icon {
	margin-right: .5em;
}

.phone-number {
	font-family: IMFell-ital;
	font-size: 2.5em;
	font-weight: 600;
	color: var(--ac-brown);
	text-decoration: none;
}

.locale {
	font-family: IMFell-reg;
	color: var(--ac-brown);
	font-size: 3em;
}

.email {
	display: grid;
	grid-row-start: 5;
	grid-row-end: 7;
	grid-column: 2;
	align-content: center;

	font-family: IMFell-reg;
	font-size: 3em;
	color: var(--ac-brown);
	text-decoration: none;
}

@media (width <= 400px) {
	.locale {
		display: none;
	}
	.email {
		display: none;
	}
}