.contact-info-container {
	display: grid;
	grid-column: contact;
	grid-row: logo-contact;
	justify-items: center;

	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(2, 1fr);

	margin: auto 0;
	height: 100%;
	padding: .5em;
}

.locale {
	display: grid;
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column: 1 / span 2;
	justify-content: center;
	width: 100%;
	align-content: center;

	padding-top: .45em;
	font-family: IMFell-reg;
	color: var(--ac-brown);
	font-size: 5em;
}

.phone-number {
	display: grid;
	grid-column: 1;
	grid-row-start: 5;
	grid-row-end: 7;
	align-content: center;

	font-family: IMFell-ital;
	font-size: 3em;
	font-weight: 600;
	color: var(--ac-brown);
	text-decoration: none;
}

.email {
	display: grid;
	grid-row-start: 5;
	grid-row-end: 7;
	grid-column: 2;
	align-content: center;

	font-family: IMFell-reg;
	font-size: 3em;
	color: var(--ac-brown);
	text-decoration: none;
}