.reviews-body-container {
	display: grid;
	justify-content: space-evenly;
	height: 100%;
}

.review-card-container {
	margin: .25em 1.25em;
}

.review-text {
	font-size: 1.8rem;
}

.author-text {
	font-size: 2.25rem;
}