.header-container {
	display: flex;
	flex-direction: column;
}

/* --> LOGO <-- */
.header-logo-container {
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-logo {
	width: 95%;
	margin: auto;
}

/* --> EMAIL <-- */
.email-container {
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.email {
	border: .05rem solid var(--ac-brown);
	border-radius: .25rem;
	padding: 0 1.75rem;
	margin: auto;
	font-family: IMFell-reg;
	font-size: 2rem;
	color: var(--ac-brown);
	text-decoration: none;
}

/* --> NAVBAR / DROP-MENU <-- */
.drop-menu-container {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	margin: auto;
	width: 100%;
}

.drop-menu-icon {
	display: flex;
	width: 100%;
}

.navbar-container {
	display: grid;
	grid-row: nav-bar;
	grid-column-start: logo;
	grid-column-end: column-end;

	grid-template-columns: repeat(5, 1fr);
	background-color: var(--ac-brown);
	width: 100%;
}

.navbar-option {
	display: flex;
	margin: auto;
	justify-content: center;

	font-family: RobotoFlex;
	letter-spacing: .1rem;
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--ac-green);
	box-shadow: 0 0 var(--ac-green);
	border-radius: .12rem;
	padding: 0.01rem 0.01rem;

	transition:
		padding .75s,
		box-shadow .5s,
		font-size 1s,
		width .5s,
		margin-top .5s,
		font-weight .5s;
}

.navbar-option:hover {
	font-size: 2rem;
	font-weight: 725;
	padding: 0.01rem 0.18rem;
	margin-top: auto;
	cursor: pointer;
	box-shadow: 0 0 0.1rem 0.18rem var(--ac-green-opaque);
}


/* --> MEDIA QUERIES <-- */
@media (width <= 400px) {
	.header-logo {
/*		background-image: var(--logo-with-tree);*/
	}
}

@media (width < 601px) {
}

@media (width > 600px) {
	.header-container {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(9, 1fr);
	}

	.header-logo {
		max-height: 10rem;
		max-width: 60rem;
	}
}