.header-container {
	display: grid;
	grid-area: header;
	grid-template-rows:	[logo] 8em
											[phone] 5.5em
											[email] 4.5em;
}

/* --> PHONE <-- */
.phone-number-container {
	grid-column: 1 / span end;
	grid-row: 2;
	
	display: flex;
	justify-content: center;
	background-color: var(--ac-green-opaque);
}

.phone-number {
	font-family: IMFell-ital;
	font-size: 4em;
	font-weight: 600;
	color: var(--ac-brown);
	text-decoration: none;
}

/* --> LOGO <-- */
.header-logo-container {
	display: grid;
	grid-column: 1;
	grid-row: 1;
}

.header-logo {
	background-size: contain;
	background-position: center;
	height: 5.4em;
	margin: auto;
}

/* --> EMAIL <-- */
.email {
	display: grid;
	grid-row: 3;

	border: .05em solid var(--ac-brown);
	border-radius: .25em;
	padding: 0 1.75em;
	margin: auto;
	font-family: IMFell-reg;
	font-size: 2em;
	color: var(--ac-brown);
	text-decoration: none;
}

/* --> NAVBAR / DROP-MENU <-- */
.drop-menu-container {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	margin: auto;
	width: 100%;
}

.drop-menu-icon {
	display: flex;
	width: 100%;
}

.navbar-container {
	display: grid;
	grid-row: nav-bar;
	grid-column-start: logo;
	grid-column-end: column-end;

	grid-template-columns: repeat(5, 1fr);
	background-color: var(--ac-brown);
	width: 100%;
}

.navbar-option {
	display: flex;
	margin: auto;
	justify-content: center;

	font-family: RobotoFlex;
	letter-spacing: .1em;
	font-size: 1.4em;
	font-weight: 500;
	color: var(--ac-green);
	box-shadow: 0 0 var(--ac-green);
	border-radius: .12em;
	padding: 0.01em 0.01em;

	transition:
		padding .75s,
		box-shadow .5s,
		font-size 1s,
		width .5s,
		margin-top .5s,
		font-weight .5s;
}

.navbar-option:hover {
	font-size: 2em;
	font-weight: 725;
	padding: 0.01em 0.18em;
	margin-top: auto;
	cursor: pointer;
	box-shadow: 0 0 0.1em 0.18em var(--ac-green-opaque);

}


/* --> MEDIA QUERIES <-- */
@media (width <= 400px) {
	.header-logo {
/*		background-image: var(--logo-with-tree);*/
	}
}

@media (width < 601px) {
}

@media (width > 600) {
	.header-container {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(9, 1fr);
	}
}