.header-container {
	display: grid;
	grid-template-columns:	[logo] 70fr
													[contact] 30fr
													[column-end];

	grid-template-rows: 		[logo-contact] 14em
													[nav-bar] 4em
													[row-end];

	background-color: blanchedalmond;
	position: fixed;
	top: 0;
}