.footer-container {
	grid-area: footer;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.logo-image {
	display: flex;
	justify-content: center;
	height: 6em;
	padding: 0 .25em;
	margin:	auto;
	transition:
		height .5s;
}

.logo-image:hover {
	cursor: pointer;
	height: 8em;
}