.footer-container {
	height: 60rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0 0 .5rem .25rem var(--ac-brown);
}

.logo-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.logo-image {
	display: flex;
	justify-content: center;
	height: 6em;
	padding: 0 .25em;
	margin:	auto;
	transition:
		height .5s;
}

.logo-image:hover {
	cursor: pointer;
	height: 8em;
}